/* body {
	font: 14px 'Century Gothic', Futura, sans-serif;
	margin: 20px;
}

ol,
ul {
	padding-left: 30px;
} */

.board {
	border: 4px solid #000;
	border-radius: 10px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

/* .status {
	margin-bottom: 10px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
} */
